html,
body {
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    font-size: 130%;
    margin-top: 0.5em;
}

audio {
    outline: none;
}

.fullscreen {
    min-width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.modal * {
    justify-content: center;
    align-items: center;
}

.btn {
    /* background-color: #03A9F4 !important;
    color: #000 !important; */
    /* border-color: #000 !important; */
}

.btn-primary {
    color: #000;
}

.jumbotron {
    background-color: transparent;
}

.pre-break {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.post-break {
    background-color: #E1F5FE;
    height: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

#q-num {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#q-body {
    margin: 0.7em 3em 1.5em 3em;
    font-weight: 500;
    height: 2em;
}

#container-rec-btns {
    max-height: 2.4em;
}

#q-nav {
    margin-top: 1em;
}

#prev-q {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#q-counter {
    border-right-width: 0;
    border-radius: 0;
}

#next-q {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-click {
    cursor: default !important;
}