h1 {
    margin-bottom: 1em;
}

h2 {
    font-size: 130%;
    margin-top: 0.5em;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

.jumbotron {
    background-color: transparent;
}

.pre-break {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.post-break {
    background-color: #E1F5FE;
    height: 100%;
    padding: 0.5%;
}

.btn {
    background-color: #03A9F4 !important;
    color: #000 !important;
    border-color: #000 !important;
}

.q-bar {
    margin-top: 1em;
}

.q-btns {
    min-height: 100%;
}

.q-addon {
    border-color: #000;
    border-radius: 0 inherit inherit 0;
}

#q-body {
    margin: 0.7em 3em 1.5em 3em;
    font-weight: 500;
    height: 2em;
}

#container-rec {
    border-radius: 3%;
    margin-top: 1em;
}

.r-bar {
    margin-top: 1em;
}

#rec-btn {
    min-height: 100%;
}

/* #rec-play-btn {
    border-right-width: 0;
    border-radius: 0;
} */

#prev-q {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#q-counter {
    border-right-width: 0;
    border-radius: 0;
}

#next-q {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#q-play-btn {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#q-replay-btn {
    border-right-width: 0;
    border-radius: 0;
}

#q-num {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-click {
    cursor: default !important;
}