h1 {
    color: #1D1905;
    margin-bottom: 1em;
}

h2 {
    color: #1D1905;
    font-size: 130%;
    margin-top: 0.5em;
}

body {
    background-color: #FFCD03;
}

.post-break {
    min-height: 100%;
    background-color: #FFCD03;
    margin-top: 2em;
}

.pre-break {
    margin-bottom: 0;
    background-color:#FFAE00;
    color: #172617;
}

#container-q {
    border-radius: 3% 3% 3% 3%;
    background-color: #FF8E03;
}

.Qbar {
    margin-top: 1em;
}

.Qaddon {
    color: #1D1905;
    background-color: #FFC107;
    border-color: #1D1905;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.Qbody {
    margin-top: 0.7em;
    font-weight: 500;
    color: #1D1905;
}

#container-rec {
    border-radius: 3% 3% 3% 3%;
    background-color: #FF8E03;
    margin-top: 1em;
}

.Rbar {
    margin-top: 1em;
}

.btn-warning {
    color: #1D1905;
    border-color: #1D1905;
}

#rec-btn {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#rec-play-btn {
    border-right-width: 0;
    border-radius: 0;
}

#next-Q {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#q-play-btn {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#q-replay-btn {
    border-right-width: 0;
    border-radius: 0;
}

#q-num {
    cursor: default;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#q-num:hover {
    color: #1D1905;
    border-color: #1D1905;
    background-color: #ffc107;
}