html,
body {
    height: 100%;
    background-color: transparent;
}

h1 {
    margin-bottom: 1em;
}

.fullscreen {
    min-width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.modal * {
    justify-content: center;
    align-items: center;
}

#login-flex-col * {
    margin: 0.2em;
    padding: 0.5em;
}

.reg-head {
    font-size: 1rem !important;
    padding: 0.1rem !important;
}

#reg-btn {
    width: 8em;
}

.error-message {
    color: red;
    text-align: center;
    width: 0;
    min-width: 100%;
}

.success-message {
    color: green;
    text-align: center;
    padding: 1em;
}

#app-wrapper {
    min-height: 100%;
}

.jumbotron {
    background-color: transparent;
}

.pre-break {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#post-break {
    background-color: #E1F5FE;
    border-radius: 4px;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

.h2-main {
    font-size: 130%;
    margin-top: 0.5em;
}

audio {
    outline: none;
}

#q-num {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#q-body {
    margin: 0.7em 3em 1.5em 3em;
    font-weight: 500;
    height: 2em;
}

#container-rec-btns {
    max-height: 2.4em;
    margin: 0.7em;
}

#q-nav {
    margin-top: 1em;
}

#prev-q {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#q-counter {
    border-right-width: 0;
    border-radius: 0;
}

#next-q {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#finished-message {
    text-align: center;
    color: green;
    padding: 11em;
}

.no-click {
    cursor: default !important;
}

#upload-error {
    margin-top: 1em;
}

#sidebar-heading {
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

#past-recordings-heading {
    font-weight: 500;
}